/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */

/* global */

body {
	background: black;
}

/* end global */

#viewer {
	width: 600px;
	height: 400px;
	overflow: hidden;
	margin: 50px auto 0 auto;	
}

#grid {
	position: relative;
}

.row {
	height: 50px;
	width: 1200px;
	clear: both;
}

.space {
	float: left;
	height: 50px;
	width: 50px;
	vertical-align: top;
	overflow: hidden;
	overflow: visible;
	position: relative;
}


.decorationContainer {
	position: relative;
}

.decoration {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	margin-left: -12px;
	margin-top: -12px;
}

#player1 {
	background: url("art.png");
	background-position: -100px 0px;
	border-radius: 4px;
	height:50px;
	width:50px;
	position: relative;
	z-index: 10000;
	margin-top: -12px;
}

/* spaces */

.prairie, .prairie .decoration {
	background-color: rgb(255,225,175);	
}

.grass, .grass .decoration {
	background-color: rgb(150,200,100);
}

.water, .water .decoration {
	background-color: rgb(64,128,255);
}

.rock, .rock .decoration {
	background-color: rgb(128,64,0);
}

.prairie .decorationContainer {
	z-index: 700;
}

.grass .decorationContainer {
	z-index: 800;
}

.water .decoration {
	z-index: -699;
}

.water .decorationContainer {
	z-index: -900;
}

 .rock .decoration {
 	z-index: 899;
 }

.rock .decorationContainer {
	z-index: 1000;
}

/* end spaces */

/* objects */

#tiara {
	position: relative;
	z-index: 1000;
}

/* end objects */