/* HTML RESET *?

 /* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END HTML RESET */

/* CLEARFIX */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* END CLEARFIX */

/* GLOBAL */

@font-face {
	font-family: sexy;
	src: url("sexy.eot") /* EOT file for IE */
}
@font-face {
	font-family: sexy;
	src: url("sexy.ttf") /* TTF file for CSS3 browsers */
}

html { background: rgb(255,128,192); }

body {
	line-height: 1.5em;
	font-family: Arial, Verdana, sans-serif;
	font-size:12pt;
	background: url("images/noise.png");
}

article {
	margin-bottom: 1.5em;
}

h1, h2, h3, h4 {
	font-weight: bold;
	line-height: 1.75em;
}

h1 {
	font-size: 2em;
	font-family: sexy !important;
	margin-bottom: .5em;
}

h2 {
	font-size: 1.5em;
	font-family: sexy !important;
	margin: 2em 0 0 0;
	color: rgb(128,0,64);
}

h2 a { text-decoration:none !important; }

h3 {
	font-size: 1.25em;
	margin: 1em 0 1em 0;
}

h4 {
	font-size: 1em;
}

label {
	display: block;
}

option {
	position: relative;
}

ol li { list-style:decimal; margin-bottom:2em; }
ol li:first-letter, ul li:first-letter, td:first-letter, option:first-letter, input:first-letter { text-transform:capitalize; }

.col { width:42%; float:left; min-width:160px; }
.col:first-of-type { margin-right:4%; }
.muted { color:gray; font-size:.75em; line-height:1.25em; }
.muted a time { color:rgb(255,0,128) !important; }
.left { float:left; margin:0 5% 5% 0; }
.right { float:right; margin:0 0 5% 5%; }

.step { display:inline-block; margin-right:.5em; background:rgb(255,0,128); padding:5px 12px; color:black; font-weight:bold; border-radius:24px; }

button, .button, #wrapper input[type="submit"] {
	display: block;
	padding: 10px 15px !important;
	font-size: 1em !important;
	border: 0 !important;
	background: rgb(225,0,100) !important;
	border-radius: 2px !important;
	color: white !important;
	text-shadow: 1px 1px 3px black !important;
	font-weight: bold !important;
	box-shadow: 0 3px 3px rgb(255,192,225) inset, 0 0 3px rgb(64,0,32) inset !important;
	border: 1px solid rgb(128,0,64) !important;
	cursor: pointer !important;
	text-decoration:none !important;
	text-align:center; 
}

button:disabled, .button:disabled, #wrapper input[type="submit"]:disabled, button:disabled:hover, button:disabled:hover, #wrapper input[type="submit"]:disabled:hover {
	background: rgb(192,192,192) !important;
	color:gray !important;
	border:none !important;
	box-shadow:none !important;
	cursor:auto !important;
	text-shadow:none !important;
}

button:hover, .button:hover, .button-small:hover, #wrapper input[type="submit"]:hover {
	background: rgb(255,0,128) !important;
	text-decoration:none !important;
	color:white !important !important;
}

button:active, .button:active, .button-small:active, #wrapper input[type="submit"]:active {
	background: rgb(192,0,96) !important;
	box-shadow: 0 -2px 3px rgb(255,192,225) inset, 0 1px 3px rgb(64,0,32) inset !important;
}

.button-small, .small, button.small {
	padding: 8px 12px !important;
	font-size: .85em !important;
	border: 0;
	background: rgb(225,0,100);
	border-radius: 2px;
	color: white;
	text-shadow: 1px 1px 3px black;
	font-weight: bold;
	box-shadow: 0 3px 3px rgb(255,192,225) inset, 0 0 3px rgb(64,0,32) inset;
	border: 1px solid rgb(128,0,64);
}

button.yellow, .button.yellow, #wrapper input[type="submit"].yellow {
	padding: 10px 15px !important;
	font-size: 1em !important;
	border: 0 !important;
	background: rgb(255,255,0) !important;
	border-radius: 24px !important;
	color: black !important;
	text-shadow: 1px 1px 3px white !important;
	font-weight: bold !important;;
	box-shadow: 0 3px 3px rgb(255,255,192) inset, 0 0 3px rgb(64,64,0) inset !important;
	border: 2px solid rgb(128,128,0) !important;
	cursor: pointer !important;
}

button.yellow:disabled, .button.yellow:disabled, #wrapper input[type="submit"].yellow:disabled {
	background: rgb(128,128,0);
	box-shadow: 0;
}

button.yellow:hover, .button.yellow:hover, .button-small.yellow:hover, #wrapper input[type="submit"].yellow:hover {
	background: rgb(255,255,0) !important;
	text-decoration:none !important;
	color:black !important !important;
}

button.green, .button.green, #wrapper input[type="submit"].green {
	padding: 10px 15px !important;
	font-size: 1em !important;
	border: 0 !important;
	background: rgb(128,255,0) !important;
	border-radius: 4px;
	color: black !important;
	text-shadow: 1px 1px 3px white !important;
	font-weight: bold !important;;
	box-shadow: 0 3px 5px rgb(255,255,255) inset, 0 0 5px rgb(32,64,0) inset !important;
	border: 1px solid rgb(64,128,0) !important;
	cursor: pointer !important;
}

button.green:disabled, .button.green:disabled, #wrapper input[type="submit"].green:disabled {
	background: rgb(64,128,0);
	box-shadow: 0;
}

button.green:hover, .button.green:hover, .button-small.green:hover, #wrapper input[type="submit"].green:hover {
	box-shadow: 0 3px 5px rgb(255,255,255) inset, 0 0 5px rgb(32,64,0) inset, 0 0 25px rgb(128,255,0) !important;
	text-decoration:none !important;
}

button.green:hover, .button.green:active, .button-small.green:active, #wrapper input[type="submit"].green:active {
	background: rgb(92,225,0) !important;
}

.ruleContainer .step { margin-bottom:1em; }
.rule { position:relative; }
.rule label, .rule input[type="text"], .rule select { display:inline; width:auto; padding:5px; }
.rule fieldset { margin-bottom:1em; }
.rule select { box-shadow:none; border:1px solid rgb(192,192,192); }
.x { position:absolute; top:0; right:0; padding:7px 15px; cursor:pointer; }

.restriction { position:absolute; z-index:915; top:0; right:0; bottom:0; left:0; display:table-cell; }
.restriction p { text-align:left; }
.restriction a { margin:0 auto; }
.restriction-bg { position:absolute; top:-2px; right:-2px; bottom:-2px; left:-2px; background:black; opacity:.75; background:white; }
.restriction .play-for-free-container { background:white; text-align:center; padding:5%; display:inline-block; position:relative; z-index:1; margin:0 auto; top:25%; box-shadow:0 0 100px rgb(255,0,128); }
.left { float:left; margin:0 2em 2em 0; box-shadow:0 0 50px rgb(225,128,192); }
.no-shadow { box-shadow:none; }

/* table */

table { margin-top:0; color:black; }
table tr:nth-child(even) th { background:rgb(180,0,90); color:white; }
table tr:nth-child(odd) th { background:rgb(210,0,105); color:white; }
table tr:nth-child(even) td { background:rgb(250,210,230); }
table tr:nth-child(odd) td { background:rgb(230,190,210); }
table th, table td { padding:15px 20px; }
table th h2 { margin-top:0; color:white; font-family:arial !important; font-size:12pt; }
table td { background:none; border:0; text-align:center; color:black; vertical-align:top !important; }
table td:first-letter { text-transform:capitalize; }
table td .check { font-weight:bold; font-size:32px !important; color:rgb(255,0,128); }
table thead th { font-weight:bold; }
table tbody th { font-weight:normal; }
table tbody { box-shadow: 0 0 50px rgb(192,0,96) inset; }
table tbody th { text-align:left; }
table label { text-align:left; }
caption {font-weight:bold; margin-top:1em; }

table.comparison td { vertical-align:middle !important; }
table.comparison tbody th p { font-size:10pt; line-height:1.25em; opacity:.75; }
table.comparison tr:nth-child(odd) td:last-child { background:rgb(255,235,245); } 
table.comparison tr:nth-child(even) td:last-child { background:rgb(255,255,255); } 


/* end table */

ul {
	margin: 1em 0 1em 0;
	padding-left: 1em;
}

p {
	margin: 1em 0;
}

li {
	margin-bottom: .5em;
}

em {
	font-style: italic;
}

a {
	color: rgb(255,0,128);
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
	color: rgb(255,128,192);
}

.currentPage {
	background: rgb(128,0,64);
	color:white;
	border-radius: 12px;
	padding: 5px 10px 5px 10px;
}

html body div#content-container.clearfix #main-nav li.currentPage a {
	color: white;
}

input, select, textarea {
	margin-bottom: 1em;
	max-width:90%;
}

input[type="text"], input[type="password"], textarea, select {
	display: block;
	width: 130px;
	padding:10px 13px;
	border-radius:2px;
	font-size:1em;
	border:0;
	box-shadow:1px 1px 5px gray inset;
	margin-bottom:1em !important;
}

select { width:auto !important; border:1px solid rgb(192,192,192); }

input[type="checkbox"] {
	margin-right:.5em !important;
}

textarea {
	width:100% !important;
	min-height:150px;
}

strong {
	font-weight: bold;
	color:rgb(128,0,64);
}

.large {
	font-size: 1.5em;
	line-height: 1.25em;
	margin-top: 0;
}

.large:first-letter {
	text-transform:capitalize;
}

time {
	font-style: italic;
	color: gray;
}

.product-list { padding:0; }
.product-list li { list-style:none; line-height:1.5em; }
.product-list li a { display:block; padding:3%; text-decoration:none !important; overflow:hidden; color:black; }
.product-list li a:hover { background:rgb(255,128,192); color:white; }
.product-list li a:hover strong { color:white; }
.product-list li:nth-child(even) { background:rgb(255,192,225); }
.product-list li:nth-child(odd) { background:rgb(255,215,235); }
.product-list li.disabled { background:rgb(225,225,225); }
.product-list li.disabled a { color:gray; }
.product-list li.disabled strong { color:gray; }
.product-list li.disabled a:hover strong { color:gray; }
.product-list li.disabled a:hover { background:rgb(205,205,205); }
.product-list li img { vertical-align:middle; margin-right:.5em; float:left; }
.product-list li p { float:left; margin-top:.6em; width:85%; }
.product-list li strong { display:block; font-size:1.25em !important; }

/* END GLOBAL */

/* header */

#header-container {
	position:relative;
	background: rgb(255,192,225); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNjBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjAwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(255,192,225) 0%, rgb(255,0,128) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,192,225)), color-stop(100%,rgb(255,0,128))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,128,192) 0%,rgb(255,0,128) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,128,192) 0%,rgb(255,0,128) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,128,192) 0%,rgb(255,0,128) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,128,192) 0%,rgb(255,0,128) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255,128,192)', endColorstr='rgb(255,0,128)',GradientType=0 ); /* IE6-8 */	
}

#header { max-width: 915px; margin: 0 auto; padding: 0 15px 15px; color: black; overflow:hidden; }

#header a {
	color: black;
}

#logo {
	font-family: sexy !important;
	margin: 25px 0 0 0;
	display:inline-block;
	font-size:32px;
	line-height:56px;
}

#site-description {
	margin: -10px 0px 0 65px;
	font-size:1em;
}

@media (max-width: 300px) {
	#logo { font-size:24px !important; }
	#site-description { margin-left:0; }
}

#header-decoration {
	height: 10px;
	background: url('images/headerDecoration.png') rgb(128,0,64);
}

#search { float:right; clear:both; }
#search input[type="submit"] { display:none; }

/* END header */

/* CONTENT */

.outer-post h2.post-title:nth-of-type(2) { margin-top:0; }
.nav-single { clear:both; overflow:hidden; }
#nav-above { margin-bottom:1em; }
.nav-next { float:right; }
.nav-previous { float:left; }

/** ADS **/
	
#ads-header {  }
.ads .ads-text a { line-height:1.25em; display:block; color:black; font-size:1.5em; background:white; padding:20px 30px; border-radius:4px; box-shadow:0 0 100px rgb(128,0,64); margin-bottom:0; }
#ads-header img { box-shadow:0 0 100px rgb(128,0,64); }
	
/** end ADS **/

/** HOME **/
	
.home #main-content { margin-top:0; }
#home-banner-915 img { display:block; margin:30px auto; max-width:915px; width:100%; height:auto; }
#home-banner-container { background:rgb(64,0,32); overflow:hidden; position: relative; box-shadow: 0px 0px 100px rgb(192, 45, 96); }
#home-banner-content { position:relative; margin:1em auto; max-width:915px; max-height:311px; box-shadow:0 0 100px black; overflow:hidden; }
#home-banner-content ul { margin:0; padding:0; position:absolute; top:250px; right:-25px; }
#home-banner-content li { list-style:none; font-size:2em; }
#home-banner-content li a.button { padding:10% 20% !important; }
#home-banner-hero { width:100%; }
#home-banner-slogan { position:absolute; left:50px; bottom:0px; color:rgb(128,0,64); font-family:arial !important; text-shadow:3px 3px 100px white; line-height:1.25em; }
#home-banner-content .button { position:relative; }
#home-banner-content .button.dark { background:rgb(128,0,64); }
.home-banner-button-triangle, .home-banner-button-triangle-dark { float:right; }

@media (max-width: 650px) {
	#home-banner-content { position:static !important; max-height:none !important; padding:30px 0; }
	#home-banner-buttons { position:static !important; }
	.home-banner-button-triangle, .home-banner-button-triangle-dark { display:none; }
	#home-banner-slogan { margin:0 0 30px; position:static !important; text-align:center; color:white; text-shadow:none !important; }
	#home-banner-slogan span { text-shadow:none !important; line-height:1em; }
}

#home-icons { margin:0; padding:0; }
#home-icons a { text-decoration:none !important; }
#home-icons li { float:left; text-align:center; width:100px; list-style:none; margin-right:26px; margin-bottom:2em; }
#home-icons li:last-of-type { margin-right:0 !important; }
#home-icons li h2 { margin:0 0 .25em; font-family:arial !important; font-size:11pt; }
#home-icons li a { display:block; border-radius:1px; }
#home-icons li p { margin:.5em 0 1em; color:black; font-size:8pt; text-align:left; line-height:1.25em; }
#home-icons li a:hover { position:relative; box-shadow:0 0 0 18px white, 0 0 100px 25px rgb(128,0,64); text-decoration:none; background:white; }
#home-icons button { margin:0 auto; }

@media (max-width: 425px) {
	#home-icons li { width:100%; }
	#home-banner-915 { display:none; }
}

.featuredList {
	margin:0;
	padding:0;
}

.featuredList li {
	float:left;
	width:48%;
	margin:1%;
	list-style:none;
}

@media all and (max-width: 728px) {
	.featuredList li {
		max-width:100%;
		width:100%;
	}
	#main-nav li {
		width:100%;
	}
	#main-nav li ul {
		position:static !important;
	}
}

.featuredList a {
	display:block;
	text-align:center;
	min-height:125px;
	padding:10%;
	background:rgb(64,0,32);
}

.featuredList a:hover {
	background:rgb(96,0,96);
}

.featuredList a:hover {
	text-decoration:none;
}

.featuredList h2 {
	margin-top:0;
}
	
/** END HOME **/

.entry-content { position:relative; }
.entry-content img { max-width:100%; height:auto; }

content ul li {
	list-style: disc;
}

/** FAVOR CLOCK **/

.caption {
	display:inline-block;
	padding:10px 20px;
	border-radius:24px;
	font-weight:bold;
	border:1px solid black;
	color:white;
}

#favor-clock .caption.he {
	background:rgb(32,64,128);
	box-shadow:0 3px 5px rgb(0,32,64) inset;
}

#favor-clock .caption.she {
	background:rgb(128,32,64);
	box-shadow:0 3px 5px rgb(64,0,32) inset;
}

#favor-clock .reset {
	background: #545454; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #545454 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545454), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #545454 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #545454 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #545454 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #545454 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
	margin-top:1em !important;
	border:2px solid black;
	padding:5px 10px;
	font-size:.75em;
	box-shadow:none;
}

#favor-clock .reset:hover {
	background: #7c7c7c; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjN2M3YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7c7c7c 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7c7c7c 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7c7c7c 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7c7c7c 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7c7c7c 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}

#favor-clock .reset:active {
	background:rgb(32,32,32);
}

/** END FAVOR CLOCK **/

/** Top Menu **/
	
#top-menu { float:right; clear:both; }
#top-menu li { float:left; margin-left:1em; font-size:.75em; }
	
/** end top menu **/

/** MAIN-NAV **/

/** menu */
	
.menu { background:rgb(128,0,64); display:block; overflow:hidden; }
.menu ul { margin:0; padding:0; }
.menu li { margin-bottom:0; font-size:11pt; }
.menu li a { z-index:10000; padding:8px 16px; background:rgb(128,0,64); color:white; display:block; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; position:relative; }
.menu > ul > li > a:hover { border-radius:24px; }
.menu li a:hover { text-decoration: none; background:rgb(192,0,96); }
.menu li a:active { -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6); -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6); box-shadow: inset 0 1px 4px 
rgba(0, 0, 0, 0.6); background: rgb(255,0,128); border: solid 1px #203E5F; }
.menu li li a .raq { float: right; position:relative; right:-10px; }
.menu li ul { position:absolute; display:none; }
.menu li li { width:100%; min-width:175px; position:relative; }
.menu li li ul { left:100%; top:0%; }

/** end menu **/

/** main menu **/

.menu-strip-container { background:rgb(128,0,64); position:relative; z-index:1000; }
#header-menu-strip-container { box-shadow:0 16px 33px rgb(64,0,32); border-bottom:1px solid rgb(64,0,32); }
#footer-menu-strip-container { box-shadow:0 -16px 33px rgb(64,0,32); text-align:center; }
.menu { max-width:915px; margin:0 auto; }
.menu > ul > li { display:inline-block; list-style:none; }
@media (max-width: 728px) {
	#main-menu li {
		width:100%;
	}
	#main-menu li ul {
		position:static !important;
	}
	#main-menu li li a { background:rgb(64,0,32); }
	#main-menu li li li a { background:rgb(32,0,32); }
	#main-menu li li li a { background:black; }
	
}

/** end main menu **/

#content-container {
	display: block;
	max-width: 915px;
	margin: 0 auto 0 auto;
}

#main-content a { text-decoration:underline; }
#main-content h2 a, #main-content h1 a { text-decoration:none; }
#main-content a:hover { text-decoration:none; }

#main-content {
	margin:5% 0 4%;
	float: left;
	width: 835px;
	overflow:hidden;
	background:white;
	box-shadow:0 0 100px rgb(32,0,32) !important;
	padding:40px;
}

@media (max-width:935px) {
	#main-content { width:90% !important; padding:40px 5% !important; }
}

#content { float:left; width:70%; }
#content ol {
	counter-reset: li; /* Initiate a counter */
	list-style: none; /* Remove default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	margin-left:1em;
}
#content ol li{
	position: relative;
	display: block;
	padding: 5%;
	*padding: 5%;
	margin: 1em 0;
	color: #444;
	text-decoration: none;
	transition: all .3s ease-out;
	line-height:1.5em;	
	border:2px solid rgb(255,0,128);
	border-radius:4px;
	box-shadow:0 0 100px rgb(255,192,225) inset;
}

#content ol li:hover{
	box-shadow:0 0 100px rgb(255,235,245) inset;
}

#content ol li:hover:before{
    transform: rotate(360deg);	
}

#content ol li:before{
	content: counter(li);
	counter-increment: li;
	position: absolute;	
	left: -1.3em;
	top: 2em;
	margin-top: -1.3em;
	background: rgb(255,0,128);
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: .3em solid #fff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all .3s ease-out;
	color:white;
}

.storycontent img { width:100%; height:auto; }

.box {
	background: rgb(192,0,96);
	color: black;
	padding: 15px;
	margin-bottom: 1em;
	border-radius: 2px;
}

.box h3 {
	margin: 0 0 .5em 0;
}

.box ul, p {
	margin: 0 0 .5em 0;
	padding: 0;
}

.box li {
	background: white;
	border-radius: 2px;
	margin-bottom: 2px;
	padding: 10px;
	box-shadow: 0 0 3px rgb(128,0,64);
	list-style: none;
}

.description {
	background: rgb(255,0,128);
	padding: 40px;
	border-radius: 8px;
}

#amount, #amount2 {
	width: 5em;
}

#updates {
	float: left;
}

.catalogue th:nth-child(2), .catalogue td:nth-child(2) { padding-left:0; padding-right:0; }
.catalogue caption { text-align:left; font-weight:2em; }
.catalogue input.service { width:100%; margin-bottom:0 !important; }
.catalogue input.price { width:65px; margin: 0; margin-bottom:0 !important; }
.catalogue .selectService { margin-right:.5em; }
.catalogue .selectService, .catalogue .addService { display:inline-block; }
.catalogue tr td:nth-child(3) { padding:0; }
.catalogue .container { position:relative; padding:15px 20px; }
.catalogue .container .x { padding:0 7px; }
.catalogue h3 { margin:0 0 .5em; }
.catalogue td input { display:inline !important; }
table.him, table.her { box-shadow:0 0 50px rgba(255,0,128,.33); }
table.him tbody, table.her tbody { box-shadow:none; }
table.catalogue.him tbody tr:nth-child(even), table.catalogue.her tbody tr:nth-child(even) { background:rgb(235,235,235); }
table.him th { background: rgb(0,128,255) !important; font-weight:bold; text-align:center; }
table.him td, table.her td { background:none !important; }
table.her th { background: rgb(255,32,64) !important; font-weight:bold; text-align:center; }
.owed ul { margin:0; padding:0; }
.owed li { font-size:.75em; list-style:none; padding:10px 15px; background:rgb(255,255,225); border-radius:2px; box-shadow:1px 1px 5px gray; text-align:left; line-height:1.25em; overflow:hidden; }
.owed li .service { font-size:12pt !important; }
.owed li .actions { float:right; margin-left:1em; }
.owed li .actions span { cursor:pointer; text-decoration:underline; color:rgb(255,0,128); }
#moneyTables table { max-width:260px; margin-top:1em; }

.generatedContent {
	border:2px solid rgb(255,0,128);
	border-radius:4px;
	padding:5%;
	margin-bottom:1.5em;
	box-shadow:0 0 100px rgb(255,128,192) inset;
	overflow:hidden;
}

.generatedContent div { float:left; overflow:hidden; }
.generatedContent div option { padding-right:30px; }

.generatedContent p {
	margin-bottom:0;
}

.generatedContent h2 {
	margin-top:0;
}

.capitalize:first-letter, .capitalize li:first-letter {
	text-transform:capitalize;
}

/** roleplay **/

.roleplay .him {
	color: rgb(0,128,255);
}

.roleplay .her {
	color: rgb(255,0,128);
}

.roleplay .action {
	font-style: italic;
	margin: 1em 0 1em 0;
}

.parenthetical {
	margin-left: 1em;
	font-style: italic;
}

.parenthetical:before {
	content: "(";
}

.parenthetical:after {
	content: ")";
}

.character {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1em 0 0;
}

.dialog {
	display: block;
	margin: 0 5em 0 2em;
	background: none;
}

/** roleplay **/

#result {
	display: none;
	background: rgb(255,255,0);
	padding: 10px;
	border-radius: 2px;
}

/** board game **/

#board {
	border-spacing: 10px;
	width: 100%;
	margin-top: 2em;
	box-shadow:0 0 150px rgb(128,0,64) !important;
}

.spaceContainer {
	padding:2% !important;
	width: 18%;
}

#board td { background: rgb(255,192,225); box-shadow:6px 6px 12px white inset, -6px -6px 12px rgb(255,128,192) inset; }

.space {
	border-radius: 2px;
	margin: 1px;
	vertical-align: top;
	overflow: visible;
	padding: 2%;
	position: relative;
}

.spaceContainer .label.special { clear:both; display:inline-block; font-weight:bold; background:white; border-radius:12px; padding:0 10px; box-shadow:1px 1px 3px gray }

.spaceContainer.He {
	background: rgb(0,128,255) !important;
	box-shadow: 0px 10px 20px rgb(0, 92, 192) inset !important;
}

.spaceContainer.He .space {
	background: none !important;
}

.spaceContainer.She {
	background: rgb(255,32,64) !important;
	box-shadow: 0px 10px 20px rgb(192, 46, 46) inset !important;
}

.spaceContainer.She .space {
	background: none !important;
}

.spaceContainer.He .label, .spaceContainer.She .label {
	color: white !important;
}

.spaceContainer.jail, .spaceContainer.bankrupt, .spaceContainer.strip, .spaceContainer.go {
	background: rgb(255,128,192) !important;
	box-shadow:6px 6px 12px white inset, -6px -6px 12px rgb(255,0,128) inset !important;
}

.spaceContainer.jail .space, .spaceContainer.bankrupt .space, .spaceContainer.jackpot .space, .spaceContainer.go .space {
	background: none;
}

.spaceContainer.current {
	background: rgb(255,0,128);
}

.spaceContainer.current .space {
	background: none !important;
}

.spaceContainer.current .label {
	color: rgb(96,0,96);
}

.space .label {
	text-align: center;
	font-size: .9em;
	color: rgb(64,0,32);
	line-height: 1.25em;
}

#game { width:100%; max-width:600px; }

@media all and (max-width:800px) {
	#game-container { display:block !important; }
	#game-sidebar { display:none !important; }
	#game { width:100% !important; font-size:10pt !important; line-height:1.25em !important; display:block !important; }
	#game h2 { font-size:12pt !important; font-family:arial !important; }
	.space .label, .space .cost { display:none !important; }
	.player { font-size:16pt !important; padding:7px !important; }
	.spaceContainer { background-size:50% !important; }
}

.cost {
	bottom: 0;
	text-align: center;
	color: rgb(64,0,32);
	position: absolute;
	bottom: 0;
	font-weight: bold;
}

.property {
	background: white;
	color: black;
	padding: 2px 7px;
	margin-bottom: 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 3px gray;
	text-transform: capitalize;
	position:absolute;
	bottom:0;
	right:0;
}

.info {
	text-align: center;
}

.info strong {
	font-size: 16px !important;
}

.player {
	font-size: 24pt;
	text-align: center;
	padding: 10px;
	border-radius: 50%;
	float: left;
	font-weight: bold;
	position: relative;
	z-index: 10;
	color:white;
}

.player.He {
	background: rgb(0,128,255);
	box-shadow: 0 5px 10px rgb(128,192,255) inset, 1px 1px 3px rgb(96,0,96);
}

.player.She {
	background: rgb(255,32,64);
	box-shadow: 0 5px 10px rgb(255,196,196) inset, 1px 1px 3px rgb(96,0,96);
}

.player.turn {
	box-shadow: 0 5px 10px rgb(255,196,196) inset, 1px 1px 3px rgb(96,0,96), 0 0 20px 10px yellow;
}

#centerContentContainer { color:black; background:white !important; vertical-align:middle !important; padding:5%; }

#centerContent {
	position: relative;
	text-align: center;
	vertical-align: middle;
}

#centerContentContainer.She {
	box-shadow:0 0 100px rgb(255,32,64) inset !important;
}

#centerContentContainer.He {
	box-shadow:0 0 100px rgb(0,128,255) inset !important;
}

#turn { color: white; font-weight:bold; padding:2% !important; }

#turn.He {
	background: rgb(0,128,255) !important;
	box-shadow: 0 10px 20px rgb(0,96,192) inset;
}

#turn.She {
	background: rgb(255,32,64) !important;
	box-shadow: 0 10px 20px rgb(192,46,46) inset;
}

#centerContent h2 {
	margin-top: 0;
}

#centerContent button {
	margin: 0 auto;
}

#roll {
	padding: 5%;
	text-align: center;
	position: relative;
	background: rgb(235,235,235);
	box-shadow: 0 3px 3px white inset, 0 0 7px gray inset;
	border: 1px solid gray;
	margin-top: 1em;
	color:black;
	text-shadow:none;
	display:inline-block;
	font-weight:bold;
	cursor:pointer;
}

#roll:hover {
	background: white !important;
}

#roll:active {
	background: rgb(192,192,192) !important;
}


.countdown {
	font-size: 2em;
}

.buttonList {
	padding: 0;
	margin-bottom: 0;
}

.buttonList li {
	list-style: none;
}

.buttonList li button, .buttonList li .button {
	display: inline !important;
}

.meter { position:relative; padding:10px; background:rgb(225,225,225); box-shadow:2px 2px 5px gray; border-radius:24px; text-align:center; }
.meter div { color:gray; font-size:10pt; padding:10px; }
.meter div:first-of-type { border-top-left-radius:12px; border-top-right-radius:12px; }
.meter div:last-of-type { border-bottom-left-radius:12px; border-bottom-right-radius:12px; }
.meter div.active { background:red; color:white; }

/** end board game **/

/* END CONTENT */

/* SIDEBAR */

#sidebar { float:left; width:25%; margin-left:5%; }
#sidebar-content { position:relative; box-shadow: 0px 0px 100px rgb(235, 172, 205); margin:0 auto; max-width:200px; }
#sidebar img { width:100% !important; height:auto; }
#sidebar-content .button { position:absolute; bottom:25px; left:17%; }
@media (max-width:600px) {
	#content { float:none; width:100%; }
	#sidebar { float:none; width:90%; text-align:center; }
	#sidebar img { width:auto !important; }
}

/* END SIDEBAR */

/* FOOTER */

#footerDecoration {
	height: 10px;
	background: url('images/footerDecoration.png') rgb(128,0,64);
}

#footer {
	padding:1em 1em 100px; /* compensate for toolbar */
	background: rgb(255,0,128); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDBmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjYwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(255,0,128) 0%, rgb(255,128,192) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,0,128)), color-stop(100%,rgb(255,128,192))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,0,128) 0%,rgb(255,128,192) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,0,128) 0%,rgb(255,128,192) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,0,128) 0%,rgb(255,128,192) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgb(255,0,128) 0%,rgb(255,128,192) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(255,0,128)', endColorstr='rgb(255,128,192)',GradientType=0 ); /* IE6-8 */
}

#popularSearchesContainer {
	background: rgb(255,0,128);
}

#popularSearches {
	max-width: 915px;
	margin: 0 auto 0 auto;
	color: black;
	padding: 40px;
	display: block;
}

#popularSearches li {
	display: inline-block;
	width: 200px;
}

#popularSearches a {
	color: black;
}

#subscriptionForm {
	color: black;
}

#donationForm {
	max-width:300px;
	color:black;
	margin:0 auto;
}

#donationForm form {
	text-align:center;
}

#copyright { text-align:center; color:rgb(128,0,64); font-size:.75em; }

#toolbar-container { position:fixed; bottom:0; left:0; right:0; box-shadow:0 0 50px rgb(64,0,32); z-index:1000; padding-bottom:25px; }
#toolbar-bg { position:absolute; top:0; right:0; bottom:0; left:0; background:black; opacity:.8; }
#toolbar { margin:0 auto; max-width:915px; position:relative; }
#toolbar ul { margin:0; padding:0; }
#toolbar li { margin:0; float:left; line-height:1em; overflow:hidden; padding:20px 15px; }
#toolbar li:hover { background:rgb(192,0,96); }
#toolbar li.disabled:hover { background:rgb(148,0,74); }
#toolbar li img { float:left; }
#toolbar li strong { max-width:45px; padding-left:5px; display:block; float:left; color:white; font-size:8pt !important; font-weight:normal; }
#toolbar li.disabled strong { color:rgb(200,200,200) !important; }
@media (max-width: 1000px) {
	#toolbar li { padding:10px; }
	#toolbar li strong { display:none; }	
}
@media (max-width: 500px) {
	#toolbar { display:none; }
}

/* END FOOTER */

/* CATEGORIES */

.category-standing, .him-on-top, .her-on-top, .from-behind, .bizarre { }

/* END CATEGORIES */

/* PAGE SPECIFIC */

#wysija-box-after-register { margin-bottom:0 !important; }
#ws-plugin--s2member-custom-reg-field-user-pass-strength { display:none; }
#s2member-default-return-header-div { display:none; }
#s2member-default-return-response-section { border:none; box-shadow:none; }
#adminbarsearch .adminbar-button { visibility:hidden !important; }
.leave-reply, .hreview-aggregate { display:none; }
/** lovers lane **/
.page-id-176 #content { width:100%; }
.page-id-176 #sidebar { display:none; }
/** Edit Profile **/
.page-id-793 tbody { box-shadow:none; }
.page-id-793 table td { background:none !important; padding:0; }
.page-id-793 br { display:none; }
.page-id-793 em { display:block; }
.page-id-793 label strong { color:black !important; }
.page-id-793 input { width:auto !important; }
.page-id-793 #ws-plugin--s2member-profile-password-strength { max-width:300px; }
.tml-user-links { clear:both; }
.search-results .comments-link { display:none; }
.page-id-505 #sidebar { display:none; }
.home #sidebar-video { display:none; }
.home .ratingstars > div { margin:0 auto; }
.tml-user-links > li:nth-child(1), .tml-user-links > li:nth-child(2) { display:none; }

/** end Lovers Lane **/

/* END PAGE SPECIFIC */

/* popups */

div#gray {
	display: none;
	position: fixed;
	z-index: 1000;
	background: black;
	width: 100%;
	height: 100%;
	opacity: .5;
	filter: alpha(opacity=50);
}
div.popup {
	display: none;
	background: white;
	padding: 5%;
	max-width: 250px;
	margin-left: -50%;
	box-shadow: 0 0 20px rgb(96,96,96);
	position: absolute;
	z-index: 1001;
	left: 62%;
	top: -12%;
}
div.popup div#x {
	position: absolute;
	top: 8px;
	right: 13px;
	cursor: pointer;
	font-size: 14pt;
}
.popup img {
	width: 100%;
	height: auto;
}
.popup h2 {
	margin: 1em 0 .5em;
}
.popup p {
	margin: .5em 0;
	font-size: 12pt;
}