button.green, .button.green, #wrapper input[type="submit"].green {
	display: block !important;
	padding: 10px 15px !important;
	font-size: 1em !important;
	border: 0 !important;
	background: rgb(128,255,0) !important;
	border-radius: 24px !important;
	color: black !important;
	text-shadow: 1px 1px 3px white !important;
	font-weight: bold !important;;
	box-shadow: 0 3px 3px rgb(255,255,192) inset, 0 0 3px rgb(32,64,0) inset !important;
	border: 2px solid rgb(64,128,0) !important;
	cursor: pointer !important;
}

button.green:disabled, .button.green:disabled, #wrapper input[type="submit"].green:disabled {
	background: rgb(64,128,0);
	box-shadow: 0;
}

button.green:hover, .button.green:hover, .button-small.green:hover, #wrapper input[type="submit"].green:hover {
	background: rgb(128,255,0) !important;
	text-decoration:none !important;
	color:black !important !important;
}